/* Остальной код */
/*основной цвет фона #E5E5E5;*/
/*дополнительный цвет фона #F5F4FA;*/
/*цвет-акцент фона #2F303A;*/
/*цвет шапки #FFFFFF;*/

/*основной цвет шрифта #212121;*/
/*дополнительный цвет шрифта #757575;*/
/*цвет-акцент шрифта #2196F3;*/
/*цвет шрифта для цвета-акцента фона #FFFFFF;*/
/*цвет для контактов в подвале rgba(255, 255, 255, 0.6);*/
:root {
  /*цвет текста*/
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --bgc-accent-text-color: #ffffff;
  --footer-addressbox-text-color: rgba(255, 255, 255, 0.6);
  /*цвет фона*/
  --main-bgc: #ffffff;
  --secondary-bgc: #f5f4fa;
  --accent-bgc: #2f303a;
  --header-bgc: #ffffff;
  --button-bgc: #2196f3;
}

/*шапка*/

/*страница портфолио*/


}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}


.filter-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.filter-type {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
  text-decoration: none;
}

/***************Модальное окно***************/

/************Форма***********/

.submit-button {
  margin-top: 30px;
  margin-left: 125px;
}

/********************Второй вариант оформления**************************/
/* .checkbox-agreement {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  margin-right: 7px;
}
.checkbox-agreement:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--button-bgc);
  background-image: url(../images/images-optimisized/svg/check-agreement.svg);
  background-size: contain;
  background-origin: border-box;
} */
